html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Muller", sans-serif;
  background-color: #f1f1f1;
}

:root {
  --light-yellow-color: #f0bf5f;
  --ochre-color: #cc9933;
  --dark-yellow-color: #a47312;
  --title-color: #333333;
  --white-color: #fff;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

h1,
h2,
h3,
p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.site-btn {
  border: 1px solid var(--ochre-color);
  border-radius: 10px;
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  color: var(--ochre-color);
}

.section-title {
  font-weight: 400;
  font-size: 40px;
  color: var(--title-color);
  margin: 20px 40px;
}

.header {
  padding: 30px 0 70px;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__telephone {
  margin: 40px;
  font-weight: 500;
  font-size: 20px;
  color: #666;
}

.header__telephone:hover {
  color: var(--ochre-color);
}

.header__telephone:focus-visible {
  outline: 1px solid var(--ochre-color);
  color: var(--ochre-color);
}

.header__telephone:active {
  color: var(--dark-yellow-color);
}

.site-link:hover {
  color: var(--light-yellow-color);
}

.header__account-link:hover path {
  transition: 0.5s ease;
}

.header__account-link:hover path {
  fill: var(--light-yellow-color);
}

.site-link:active {
  color: var(--dark-yellow-color);
}

.header__account-link:active path {
  fill: var(--dark-yellow-color);
}

.site-link:focus-visible {
  outline: 1px solid var(--ochre-color);
}

.site-link {
  color: var(--ochre-color);
  transition: color 0.5s;
}

.header__account-link {
  display: flex;
  align-items: center;
  margin: 5px;
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  height: 70px;
  border-radius: 15px;
  padding: 0 45px;
}

.header__nav-list {
  display: flex;
  gap: 45px;
}

.header__nav-link {
  font-weight: 400;
  font-size: 16px;
  color: #666;
  transition: color 0.5s;
}

.header__nav-link:hover {
  color: var(--ochre-color);
}

.header__nav-link:focus-visible {
  outline: 1px solid var(--ochre-color);
  color: var(--ochre-color);
}

.header__nav-link:active {
  color: var(--dark-yellow-color);
}

.header-buttons {
  display: flex;
  gap: 40px;
  transition: color 0.5s;
}

.site-btn:hover {
  background-color: var(--ochre-color);
  color: var(--white-color);
  transition: 0.5s ease;
}

.site-btn:focus-visible {
  background-color: var(--ochre-color);
  color: var(--white-color);
  transition: 0.5s ease;
}

.site-btn:active {
  background-color: var(--dark-yellow-color);
  color: var(--white-color);
  transition: 0.5s ease;
}

/* section special */
.special {
  padding-bottom: 70px;
}

.special__cards {
  display: flex;
  gap: 24px;
}

.special__left-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.left-cards__card {
  position: relative;
  width: 558px;
  min-height: 258px;
  border-radius: 15px;
}

.left-cards__card--maldives {
  background: linear-gradient(
      to right,
      rgba(48, 64, 89, 0.84),
      rgba(53, 65, 83, 0)
    ),
    url("../img/special-offer/maldives-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-cards__block {
  padding: 40px 108px 40px 45px;
}

.left-cards__title {
  font-weight: 700;
  font-size: 40px;
  color: var(--white-color);
  margin-bottom: 15px;
}

.left-cards__price {
  font-weight: 400;
  font-size: 20px;
  color: var(--white-color);
  opacity: 0.8;
  margin-bottom: 47px;
}

.special__cards__link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 16px;
  color: var(--light-yellow-color);
  transition: color 0.5s;
}

.special__cards__link::before {
  content: "";
  position: absolute;
  inset: 0;
}

.special__cards__link:hover {
  color: var(--white-color);
}

.left-cards__card--crete {
  background: linear-gradient(
      to right,
      rgba(48, 64, 89, 0.84),
      rgba(53, 65, 83, 0)
    ),
    url("../img/special-offer/crete-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.special__right-cards {
  position: relative;
  background-image: url("../img/special-offer/hotel-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 558px;
  min-height: 540px;
  border-radius: 15px;
}

.right-cards__title {
  font-weight: 700;
  font-size: 60px;
  color: var(--white-color);
  margin-bottom: 15px;
}

.right-cards__price {
  font-weight: 400;
  font-size: 30px;
  color: var(--white-color);
  opacity: 0.8;
  margin-bottom: 47px;
}

.right-cards__card {
  padding: 180px 229px 40px 45px;
}

/* section about */
.about {
  padding-bottom: 70px;
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  width: 888px;
}

/* section services */
.services {
  padding-bottom: 70px;
}

.services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.services__item {
  width: 558px;
  min-height: 330px;
  background-color: var(--white-color);
  border-radius: 15px;
}

.services__link:focus-visible {
  outline: 1px solid var(--ochre-color);
}

.services__link__block {
  padding: 26px 126px 35px 45px;
}

.services__link__block__icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.services__link__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--ochre-color);
}

.services__link__block__icon path,
.services__link__block__icon svg {
  transition: 0.3s ease;
}

.services__link:hover .services__link__title {
  color: var(--light-yellow-color);
}

.services__link:hover .services__link__block__icon path {
  stroke: var(--light-yellow-color);
}

.services__link:hover .services__link__block__icon svg {
  translate: 5px 0;
}

.services__link__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* section benefints */
.benefints {
  padding-bottom: 70px;
}

.benefints__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 22px;
}

.benefints__item {
  width: 263px;
  min-height: 276px;
  background-color: var(--white-color);
  border-radius: 15px;
}

.benefints__item__block {
  padding: 40px 42px 32px 45px;
}

.benefints__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* section hotels */
.hotels {
  padding-bottom: 70px;
}

.hotels__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.hotels__item {
  width: 342px;
  /* flex: 1 1 calc(33.3% - 24px); */
  min-height: 440px;
  background-color: var(--white-color);
  border-radius: 15px;
}

/* .hotels__btn::after {
  content: "";
  position: absolute;
  inset: 0;
} */

.hotels__btn:hover {
  color: var(--white-color);
}

.hotels__block {
  padding: 32px 45px 45px 45px;
}

.hotels__price {
  display: flex;
  margin-bottom: 16px;
}

.hotels__from {
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.hotels__value {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.hotels__per-night {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.hotels__rating {
  margin-left: 31px;
}

.hotels__name {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}

.hotels__location {
  font-weight: 400;
  font-size: 16px;
  color: #999;
  margin-bottom: 20px;
}

.hotels__item--bg {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-left: 54px;
  padding-bottom: 27px;
  background-image: linear-gradient(
      to top,
      rgba(48, 64, 89, 0.84) 0%,
      rgba(53, 65, 83, 0) 66.67%
    ),
    url("../img/hotels/hotel-last.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hotels__link--bg {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--white-color);
}

.hotels__link::before {
  content: "";
  position: absolute;
  inset: 0;
}

/* .hotels__link:hover {
  color: var(--white-color);
} */

.hotels__link {
  transition: 0.3s ease;
}

.hotels__link path,
.hotels__link svg {
  transition: 0.3s ease;
}

.hotels__link:hover,
.hotels__link svg {
  translate: 5px 0;
}

/* section  find__tour*/
.tour {
  padding-bottom: 70px;
}

.tour__container {
  background-color: #e9e9e9;
  border-radius: 15px;
  padding: 40px;
}

.tour__block {
  padding-left: 5px;
  background-color: var(--white-color);
  border-radius: 15px;
  padding: 31px 28px;
  display: flex;
}

.tour__form {
  display: flex;
  gap: 41px;
}

.tour__label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.tour__select {
  font-weight: 400;
  font-size: 16px;
  border: none;
}

.tour__input {
  border: none;
}

.tour__select:focus-visible {
  outline: none;
}

.tour__input:focus-visible {
  outline: none;
}

/* section contacts */
.contacts {
  padding-bottom: 25px;
}

.contacts__block {
  display: flex;
  gap: 52px;
  background-color: var(--white-color);
  border-radius: 15px;
  padding: 45px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  width: 375px;
}

.contacts__item {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 25px;
  display: flex;
}

.contacts__label {
  font-weight: 700;
  font-size: 20px;
}

.contacts__label--address {
  margin-right: 83px;
}

.contacts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 229px;
  margin-bottom: 23px;
}

.contacts__label--phone {
  margin-right: 47px;
}

.contacts__links {
  margin-bottom: 23px;
}

.contacts__label--email {
  margin-right: 93px;
}

.contacts__note {
  line-height: 150%;
  color: #999;
}

.contacts__label--schedule {
  margin-right: 74px;
}

.contacts__button {
  width: 213px;
  height: 70px;
}

/* footer */
.footer {
  margin-bottom: 30px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  background: url("../img/footer/footer-img.png") no-repeat 739px 112px;
  padding: 45px;
  background-color: var(--title-color);
  border-radius: 15px;
  min-height: 341px;
}

.footer__left {
  width: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 125px;
}

.footer__text {
  line-height: 190%;
  color: var(--white-color);
}

.footer__center {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 239px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.footer__icon:hover path {
  transition: all 0.4s;
  fill: var(--ochre-color);
}

.footer__icon:focus-visible path {
  transition: all 0.4s;
  fill: var(--ochre-color);
}

.footer__icon:active path {
  transition: all 0.4s;
  fill: var(--dark-yellow-color);
}
